/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Menu                                      |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.menucolumn {
	border: 1px solid #e94c07;
	padding-top: 70px;
	padding-left: 1px;
	border-top: none;
	border-bottom: none;
	border-left: none;
	width: 200px;
}

.menu {
	width: 199px;
	margin-top: 60px;
	margin-left: 5px;
	float: left;
}

.menuTitle {
	border: 0px;
	font-weight: bold;
	text-align: center;
}


/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                      Simple Menu Settings                        |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.smd-menu-top {
	font-weight: bold;
	padding-top: 5px;
}

.smd-menu-item {
	vertical-align: top;
}

img.smd-menu {
	border: 0;
	vertical-align: middle;
}

a.smd-menu {
	text-decoration: none !important;
}