/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Background colors                                           |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

.grey-bg {
	background-color	: #f0f0f0;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables                                                      |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

td.leftcolumn {
    width				: 30%;
    padding-left		: 5px;
}

.empty {
	font-style			: italic;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: Margins and Paddings                                |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

.top-row td {
	padding-top			: 5px;
	padding-bottom		: 2px;
}
.middle-row td {
	padding-top			: 2px;
	padding-bottom		: 2px;
}
.bottom-row td {
	padding-top			: 2px;
	padding-bottom		: 5px;
}
.single-row td {
	padding-top			: 5px;
	padding-bottom		: 5px;
}

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Table Search Bar                                            |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.search {
	border-color		: #00407e;
	width				: 100%;
}
table.search thead tr {
	background-color	: #eeeeee;
}
table.search thead th {
	text-align			: left;
	padding				: 2px;
}
table.search td {
	padding				: 2px;
}

td.advanced-search {
    font-size           : 9px;
    text-align          : center;
    vertical-align      : top;
    width               : 5%;
    padding-left        : 5px;
}

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Table Advanced Search                                       |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.search td.leftcolumn {
    font-weight         : bold;
}

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Displaytag Tables: Common settings                          |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.common {
/*	border-width		: 1px; */
/*	border-style		: solid;*/
/*    border-collapse		: collapse;*/
    border-color		: #e94c07;
    width				: 100%;
/*    margin				: 20px 0 20px 0;*/
}
table.common thead tr {
	background-color	: #eeeeee;
}
table.common tr.even {
	background-color	: #eeeeee;
}
table.common td, table.common th {
    padding				: 2px 4px 2px 4px;
    vertical-align		: top;
}
table.common th.sortable {
    text-align			: left;
    text-indent			: 10px;
}
table.common th.sorted a, table.common th.sortable a {
	background-position	: left;
	background-repeat	: no-repeat;
	display				: block;
	width				: 100%;
	color				: #000000;
	vertical-align		: top;
}
table.common th.sortable a {
    background-image	: url(../img/arrow_off.png);
}
table.common th.order1 a {
    background-image	: url(../img/arrow_down.png);
}
table.common th.order2 a {
    background-image	: url(../img/arrow_up.png);
}

table.common td.left {
    text-align			: left;
}
table.common td.center {
    text-align			: center;
}
table.common td.right {
    text-align			: right;
    padding-right		: 10px;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Paging Areas: Common settings                               |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.paging {
	background-color	: #eeeeee;
	border				: 1px solid #00407e;
	padding				: 0px 5px 0px 5px;
	width				: 100%;
	margin-top			: 10px;
}
table.paging td {
	padding				: 0px;
}


span.pagebanner {
    background-color	: #eeeeee;
    border				: 1px solid #00407e;
    padding				: 2px 4px 2px 4px;
    width				: 99%;
    margin-top			: 10px;
    display				: block;
}

span.pagelinks {
    background-color	: #eeeeee;
    border				: 1px solid #00407e;
    padding				: 2px 4px 2px 4px;
    width				: 99%;
    display				: block;
    border-top			: none;
    margin-top			: -1px;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: Result Lists                                        |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

/*
table.results {
	border-color        : #00407e;
	margin-bottom		: 10px;
}
table.results thead tr {
    background-color	: #e94c07;
}
table.results tr.even {
    background-color	: #f0f0f0;
}
table.results td, table.results th {
	border-color		: #00407e;
}
*/

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: Age Group Templates                                 |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.age-group-def {
	border				: none;
}
table.age-group-def thead th {
	background-color	: #f0f0f0;
	border				: none;
}
table.age-group-def tbody td {
	padding				: 0px;
	border				: none;
}
table.age-group-def tr.even {
	background-color	: #f0f0f0;
}
table.age-group-def td.odd {
	background-color	:#FFFFFF;
}

tr.whiteBg {
    background-color	: #FFFFFF;
}

table.age-group-def-view {
	width				: 80%;
}
table.age-group-def-view thead th {
    background-color	: #e0e0e0;
	border				: none;
}
table.age-group-def-view tr.even {
    background-color	: #e8e8e8;
}

table.age-group-def-view tbody td {
	padding				: 1px;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: History                                             |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.history {
    border-color		: #00407e;
}
table.history thead tr {
    background-color	: #e94c07;
}
table.history tr.even {
    background-color	: #f0f0f0;
}
table.history td, table.history th {
    border-color		: #00407e;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: Meetings                                            |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.meetings td, table.meetings th {
    border-bottom		: thin solid #e94c07;
    padding				: 5px;
}

table.teilnehmer td, table.teilnehmer th {
    border-bottom		: thin solid #e94c07;
    padding				: 1px;
}

table.meetings .link-group .subtable td {
    border-bottom       : none;
    padding             : 0px 0px 0px 5px;
}

table.meetings .link-group .subtable img {
    border              : none;
    vertical-align      : middle;
    width               : 18px;
    height              : 18px;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: Settings (belong to Meetings)                       |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.settings {
    width               : 100%;
}

table.settings td {
    vertical-align      : top;
}

table.settings td.rightcolumn {
    width               : 5%;
}


/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: Finish Times                                        |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/
/*
table.finishtime thead tr {
    background-color	: #e94c07;
}
table.finishtime tr.even {
    background-color	: #f0f0f0;
}
*/
table.subfinishtime td {
	border				: none;
}

/*/------------------------------------------------------------------\*/
/*|                                                                  |*/
/*|      Tables: Unknown Chips                                       |*/
/*|                                                                  |*/
/*\------------------------------------------------------------------/*/

table.netto-times th {
    text-align			: left;
    font-weight			: normal;
}
