<?php
# Konfigurationsdatei - nach config.php kopieren und ggf. anpassen
# Wenn der Datenbankname "test" enthaelt wird ein Testsystem-Hinweis eingeblendet

$config['dbhost'] = 'localhost';
$config['dbuser'] = 'root';
$config['dbpassword'] = '';
$config['dbname'] = 'myrun_test';
?>