/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                      Common Settings                             |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
body {
	background-color: #FFFFFF;
	margin: 10px;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

tr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 2px;
}

select,option {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a {
	color: #224F83;
	text-decoration: underline;
}

a:hover {
	color: #003F7E;
	text-decoration: underline;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                      Portal Settings                             |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.portal {
	border: 1px solid #00407e;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Header                                    |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.header {
	background-color: #FFFFFF;
}

/*.backgrd-top {
	background-image	: url(../img/header2.jpg);
	background-repeat	: no-repeat;
	background-position : left top;
}*/ /*.backgrd-left {
	background-image	: url(../img/layout_left2.jpg);
	background-repeat	: no-repeat;
	background-position : left top;
}*/
.portaltitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	color: #1f3252;
	height: 100%;
	vertical-align: center;
	text-align: center;
}

.toptitle { /*	background-color	: #e94c07;*/
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	height: 21px;
	vertical-align: center;
	text-align: center;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Main Body                                 |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.mainBody {
	padding-right: 12px;
	padding-left: 12px;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Box                                       |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
table.box {
	text-align: right;
	padding-right: 5px;
}

table.frame {
	border: 1px solid #e94c07;
	width: 100%;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Copy                                      |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.copy {
	margin: 2px;
	text-align: center;
	color: #555555;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Button                                    |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.button {
	background-color: #ebe9e8;
	border: 2px solid;
	border-color: #f9f8f8 #828180 #828180 #f9f8f8;
	padding: 0px 10px;
	margin-top: 2px;
	text-decoration: none;
}

.button:hover {
	background-color: #eee;
	color: #e94c07;
	text-decoration: none;
}

.button-disabled {
	color: #888888;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	background: none;
	padding: 0px 12px;
	margin-top: 2px;
}

div.button-box a.button {
	display: block;
	width: 120px;
	text-align: center;
	text-decoration: none;
	color: #000;
}

div.navigation-buttons .button {
	width: 120px;
}

/*
.button-box {
    width               : 150px;
}
*/
	/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Login                                     |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.login {
	border-style: solid;
	border-width: 1px;
	border-color: #00407e;
}

.login th {
	background-color: #00407e;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                        Errors                                    |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.error {
	color: #b11
}

.errorbox {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #b11;
	background-color: #b11;
}

table.errorbox th {
	background-color: #b11;
}

table.errorbox td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 10px 15px 10px 15px;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|                       Layouts                                    |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.vboxspacer {
	height: 10px;
}

.left-spacer {
	width: 20%;
}

.deco-box {
	margin-bottom: 20px;
}

.deco-box td,th {
	padding: 0px;
	border: 0px;
}

.deco-box-left,.deco-box-right {
	font-size: 6px;
}

th.deco-box-left {
	background-image: url(../img/corner-top-left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 9px;
}

th.deco-box-middle {
	border-top: 1px solid #00407e;
	background-color: #00407e;
	color: white;
	text-align: left;
	padding: 2px 5px 2px 5px;
}

th.deco-box-right {
	background-image: url(../img/corner-top-right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	width: 9px;
}

tr.content td.deco-box-left {
	border-left: 1px solid #00407e;
}

tr.content td.deco-box-middle {
	padding-top: 8px;
}

tr.content td.deco-box-right {
	border-right: 1px solid #00407e;
}

tr.footer td.deco-box-left {
	background-image: url(../img/corner-bottom-left.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 9px;
	height: 9px;
}

tr.footer td.deco-box-middle {
	border-bottom: 1px solid #00407e;
	font-size: 6px;
}

tr.footer td.deco-box-right {
	background-image: url(../img/corner-bottom-right.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 9px;
}

/*/------------------------------------------------------------------\*/
	/*|                                                                  |*/
	/*|           Different text sizes and colors                        |*/
	/*|                                                                  |*/
	/*\------------------------------------------------------------------/*/
.headline {
	font-weight: bold;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.text-medium {
	font-size: 14px;
	color: #224F83;
}

.text-white {
	font-size: 11px;
	color: #FFFFFF;
}

span.greytext {
	color: #888888;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	background: none;
}

span.textbox {
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	background-color: #ddd;
}

.attention {
	color: #FF0000;
	background-color: #FFFFAD;
}

span.acknowledgement {
	text-align: center;
	vertical-align: center;
	padding: 50;
	display: block;
}

#testsystem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #b11;
	text-align: center;
	vertical-align: center;
	padding: 2;
	margin: 5;
	display: block;
}

.timeTable {
	border: 1px solid #00407e;
	background-repeat: no-repeat;
	background-position: left top;
}